%meta{name: "item_id", content: @product.item_id}
%meta{name: "price", content: @product.price}
%meta{name: "category_id", content: @product.price}
%meta{name: "activity", content: 'view'}
.rate{data:'5'}
- @body_id = 'product-details'
#badrSalesman
  #badrSalesmanRecommendation
  #badrSalesmanPromotion
- cache [I18n.locale, current_currency, @product] do
  %div{"data-hook" => "product_show", :itemscope => "", :itemtype => "http://schema.org/Product"}
    .col-md-4{"data-hook" => "product_left_part"}
      %div{"data-hook" => "product_left_part_wrap"}
        #product-images{"data-hook" => "product_images"}
          #main-image.panel.panel-default{"data-hook" => ""}
            .panel-body.text-center
              = product_image(@product, :itemprop => "image")
          #thumbnails{"data-hook" => ""}
            = render :partial => 'thumbnails'
        %div{"data-hook" => "product_properties"}
          = render :partial => 'properties'
        %div{"data-hook" => "promotions"}
          = render :partial => 'promotions'
    .col-md-8{"data-hook" => "product_right_part"}
      %div{"data-hook" => "product_right_part_wrap"}
        #product-description{"data-hook" => "product_description"}
          %h1.product-title{:itemprop => "name"}= @product.name
          .well{"data-hook" => "description", :itemprop => "description"}
            = product_description(@product) rescue Spree.t(:product_has_no_description)
          #cart-form{"data-hook" => "cart_form"}
            = render :partial => 'cart_form'
          #buy{style: "margin-top: 10px;margin-bottom: 10px;"}
            %a.btn.btn-success{href: "#", onclick: "logBuyActivity()"}
              %span.glyphicon.glyphicon-usd
              Buy
            %a.btn.btn-success{href: "#", onclick: "logRateActivity()"}
              %span.glyphicon.glyphicon-thumbs-up
              Like
        = render :partial => 'taxons'
:javascript
  function logBuyActivity(){
    badrRecommender.sendActivity('order')
  }

  function logRateActivity(){
    badrRecommender.sendActivity('rate')
  }

