<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<% if current_spree_user %>
  <meta name="user_id" content="<%= current_spree_user.id %>">
<% end %>
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<%= favicon_link_tag 'favicon.ico' %>
<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>
<%= csrf_meta_tags %>
<%= javascript_include_tag 'spree/frontend/all' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js' %>
  <%= javascript_include_tag 'http://salesman.badrit.com/api.js' %>
  <script type="text/javascript">
    $( document ).ready(function(){
      access_token = "55b21feecb7562083395d320b226f77f";
      var user_id = $('meta[name=user_id]').attr('content');
      var item_id = $('meta[name=item_id]').attr('content');

      badrRecommender = new BadrSalesmanRecommender(access_token, {'user_id': user_id, 'item_id': item_id});
    });
  </script>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<%= yield :head %>
