<!DOCTYPE html>
<html>
<head>
  <title>Samwatch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js' %>
  <%= javascript_include_tag 'http://salesman.badrit.com/api.js' %>
  <script type="text/javascript">
    $( document ).ready(function(){
      access_token = "1c3d5a1b870cb66eabb05d501a701dfc";
      var user_id = $('meta[name=user_id]').attr('content');
      var item_id = $('meta[name=item_id]').attr('content');

      badrRecommender = new BadrSalesmanRecommender(access_token, {'user_id': user_id, 'item_id': item_id});
    });
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
