<!DOCTYPE html>
<html>
<head>
  <title>Samwatch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'jquery.cookie.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.cookie.js', 'badrSalesman'%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
